.txt-center {
    text-align: center;
}

.txt-small {
    font-size: .9rem;
}

.heading {
    padding: 0 .675rem 0 .675rem;
    font-weight: bold;
    letter-spacing: .11rem;
}

.large {
    font-size: 1.1rem;
}

section>p {
    padding: 0 1.35rem 0 1.35rem;
}

.cols-2 {
    grid-template-columns: repeat(4, 1fr);
}

.rows-2 {
    grid-template-rows: repeat(4, 1fr);
}

.col-span-2 {
    grid-column: span 2;
}

.col-span-3 {
    grid-column: span 3;
}

.col-span-4 {
    grid-column: span 4;
}

.center {
    margin:auto;
}

.inline {
    display: inline-block;
}

.p-lr {
    padding: 0 2.175rem;
}