.grid {
    display: grid;
    grid-template-columns: repeat(1, minmax(80px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    gap: 10px;
    padding: 10px;
}

.sub-grid-row {
    grid-template-rows: subgrid;
}

.sub-grid-col {
    grid-template-columns: subgrid;
}

.flex {
    display: flex;
}

.image-container {
    height: 80vh;
}