/* General Font Settings */
@mixin font-sizes {
    font-size: 16px;
    line-height: 1.5;
    h1 {
        font-size: 2rem;
    }
    h2 {
         font-size: 1.75rem;
    }
    h3 {
        font-size: 1.375rem;
    }
}

// -------- Media Query Mixins -------- //
// symptoms grid
@mixin grid-md{
    .grid-odds {
        grid-template-columns: repeat(4, minmax(80px, 1fr));
        .card {
            grid-column: span 2;
        }
        .card:last-child {
            grid-column: 2/4;
        }
    }
}

@mixin grid-lg {
    .grid-odds {
        grid-template-columns: repeat(6, minmax(80px, 1fr));
        .card:nth-child(4n) {
            grid-column: 2/4;
        }
        .card:last-child {
            grid-column: 4/6;
        }
    }
}
