// Script to reset the initial styles of preset elements to what I want them to start as
/* Overriding the annoying pre-set element rules */
* {
    margin: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}