// Script to reset the initial styles of preset elements to what I want them to start as
/* Override annoying pre-set element rules */
* {
    margin: 0;

    &::before, &::after {
        box-sizing: border-box;
    }
}

body {
    line-height: 1.5;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}