/* --- Nav-bar --- */
.nav {
    position: sticky;
    top: 0;
    width: 100%;
    ul{
        display: flex;
        justify-content: space-around;
        height: 3rem;
        align-items: center;
        width: 70%;
        margin-right: 0;
        margin-left: auto;
    }
}

.btn {
    border-radius: .75rem;
    padding: .25rem;
}