/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import 'reset';
@import "mixins";
@import "variable";


/* Setting general styles */
body{
    @include font-sizes;
    font-family: 'Lato', sans-serif;
}

// .heading {
//     font-weight: bold;
// }



/* Structures */
@import 'structure';

/* List of Symptoms: accordion */
.accordion {
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.panel {
    padding: 0 18px;
    display: none;
    overflow: hidden;
}

.image-container {
    height: 80vh;
}


/* --- Containers --- */
@import 'containers';

/* --- Content --- */
@import 'content';

/* Styles / skins */
.hero {
    background-image: url(../../assets/images/mobile-hero-image.webp);
    background-position: center;
    background-size: cover;
}

.bg-transparent {
    background-color: transparent;
}

.structural {
    background-color: $primary;
    a {
        color: $secondaryDark;
    }
}

.light-dark {
    background-color: $secondaryLight;
    color: $secondaryDark;
}

.dark-light {
    background-color: $accentDark;
    color: $secondaryLight;
}


/* Pseudo styles/skins */
.active, .accordion:hover {
    background: yellow;
}
.btn:hover {
    background-color: $secondaryDark;
    color: $primary;
    transition: .4s;
}

/* Media Queries */
// ------- Medium devices ------- //
@media screen and (min-width: 500px) {
    @include grid-md;
    @include resources-grid-md;
}


// ------- Large devices ------- //
@media screen and (min-width: 769px) {
    @include grid-lg;
    @include resources-grid-lg;
}